version: "3.8"

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTFRES_USER}
    networks:
      - backend

  api:
    build:
      context: ./search_api
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./search_api:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - backend
      - frontend

  #   app-frontend:
  #     build:
  #       context: ./<FRONTEND_APP>
  #       dockerfile: Dockerfile
  #     ports:
  #       - "9090:80"
  #     restart: always
  #     depends_on:
  #       - api
  #     networks:
  #       - frontend

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - backend

networks:
  backend:
  frontend:
